In [8]:
import pandas as pd
import sqlite3

#Load all of the CSV files into Pandas DataFrames
employee = pd.read_csv("Relations\\employee.csv")
female = pd.read_csv("Relations\\female.csv")
project = pd.read_csv("Relations\\project.csv")
supervise = pd.read_csv("Relations\\supervise.csv")
workson = pd.read_csv("Relations\\workson.csv")

conn = sqlite3.connect("assignment2_database.db")
cursor = conn.cursor()

#Write DataFrames to Sqlite3, replace the tables if they already exist to avoid errors
employee.to_sql('employee', conn, if_exists='replace', index=False)
female.to_sql('female', conn, if_exists='replace', index=False)
project.to_sql('project', conn, if_exists='replace', index=False)
supervise.to_sql('supervise', conn, if_exists='replace', index=False)
workson.to_sql('workson', conn, if_exists='replace', index=False)

#question 1 sql code.
queryOne = """
SELECT e.EMPLOYEE_NAME
FROM employee AS e
INNER JOIN female AS f ON e.EMPLOYEE_NAME = f.NAME
INNER JOIN workson AS w ON e.EMPLOYEE_NAME = w.NAME
INNER JOIN supervise AS s ON e.EMPLOYEE_NAME = s.SUBORDINATE
WHERE w.PROJECT = 'computerization'
AND w.EFFORT = 10
AND s.SUPERVISOR = 'jennifer';
"""

questionOne = pd.read_sql_query(queryOne, conn)
print(questionOne)

conn.close()

  EMPLOYEE_NAME
0        alicia

In [15]:
import pandas as pd
import sqlite3

#Load all of the CSV files into Pandas DataFrames
department = pd.read_csv("Relations\\department.csv")
employee = pd.read_csv("Relations\\employee.csv")
salary = pd.read_csv("Relations\\salary.csv")

conn = sqlite3.connect("assignment2_database.db")
cursor = conn.cursor()

#Write DataFrames to Sqlite3, replace the tables if they already exist to avoid errors
department.to_sql('department', conn, if_exists='replace', index=False)
employee.to_sql('employee', conn, if_exists='replace', index=False)
salary.to_sql('salary', conn, if_exists='replace', index=False)

#question 2 sql code.
queryTwo = """
SELECT e.EMPLOYEE_NAME FROM employee as e
INNER JOIN salary as s on e.EMPLOYEE_NAME = s.EMPLOYEE_NAME
INNER JOIN department as d on e.EMPLOYEE_NAME = d.EMPLOYEE_NAME
WHERE d.DEPARTMENT = 'research'
AND s.SALARY > 40000;
"""

questionTwo = pd.read_sql_query(queryTwo, conn)
print(questionTwo)

conn.close()

  EMPLOYEE_NAME
0      franklin

In [16]:
import pandas as pd
import sqlite3

#Load all of the CSV files into Pandas DataFrames
department = pd.read_csv("Relations\\department.csv")
employee = pd.read_csv("Relations\\employee.csv")
salary = pd.read_csv("Relations\\salary.csv")

conn = sqlite3.connect("assignment2_database.db")
cursor = conn.cursor()

#Write DataFrames to Sqlite3, replace the tables if they already exist to avoid errors
department.to_sql('department', conn, if_exists='replace', index=False)
employee.to_sql('employee', conn, if_exists='replace', index=False)
salary.to_sql('salary', conn, if_exists='replace', index=False)

#question 2 sql code.
queryTwo = """
SELECT e.EMPLOYEE_NAME FROM employee as e
INNER JOIN salary as s on e.EMPLOYEE_NAME = s.EMPLOYEE_NAME
INNER JOIN department as d on e.EMPLOYEE_NAME = d.EMPLOYEE_NAME
WHERE d.DEPARTMENT = 'research'
AND s.SALARY > 40000;
"""

questionTwo = pd.read_sql_query(queryTwo, conn)
print(questionTwo)

conn.close()

  EMPLOYEE_NAME
0      franklin

In [22]:
import pandas as pd
import sqlite3

#Load all of the CSV files into Pandas DataFrames
employee = pd.read_csv("Relations\\employee.csv")
workson = pd.read_csv("Relations\\workson.csv")

conn = sqlite3.connect("assignment2_database.db")
cursor = conn.cursor()

#Write DataFrames to Sqlite3, replace the tables if they already exist to avoid errors
employee.to_sql('employee', conn, if_exists='replace', index=False)
workson.to_sql('workson', conn, if_exists='replace', index=False)

#question 4 sql code.
queryFour = """
SELECT e.EMPLOYEE_NAME FROM employee as e
INNER JOIN workson as w on e.EMPLOYEE_NAME = w.NAME
WHERE w.PROJECT = 'productx'
AND w.EFFORT >= 20;
"""

questionFour = pd.read_sql_query(queryFour, conn)
print(questionFour)

conn.close()

  EMPLOYEE_NAME
0          john
1         joyce